[submodule "packages/django-mymedia"]
	path = packages/django-mymedia
	url = https://github.com/hdknr/django-mymedia.git
[submodule "packages/django-mytaggit"]
	path = packages/django-mytaggit
	url = https://github.com/hdknr/django-mytaggit.git
[submodule "packages/pykakasi"]
	path = packages/pykakasi
	url = https://github.com/hdknr/pykakasi.git
